h1 {
    color:darkslateblue ;
}

li {
    color: indianred;
}

.ritual {
    color:darkslateblue ;
}

.Utilidades {
    color: darkslategrey;
}

.Materiales {
    color: darkred;
}

.Pasos {
    color: darkblue;
}

#soy-azul{
    color: skyblue;
}

p {
    color: indianred;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}